<div class="home">
  <h2>BIENVENIDO A MATH'S TEC DONDE PODREMOS PROPORCIONARTE MATERIAL DE ESTUDIO PARA CIENCIAS BASICAS ESPECIALMENTE ENFOCADO A LAS ASIGNACIONES DE CALCULO</h2>

  <p> El Tecnológico Nacional de México (TecNM), Campus Ciudad Valles, enfrenta un desafío persistente que es el alto índice de reprobación en las asignaturas de ciencias básicas, que en la mayoría de los casos resultan en la deserción escolar. Muchos estudiantes no cuentan con las habilidades y conocimientos para superar estas materias (01 de septiembre del 2021, Departamento de Gestión y Vinculación del Tecnológico Nacional de México, Campus Ciudad Valles, comunicación personal).</p>
    


  <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="tec3.jpg" class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="tec1.jpg" class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="tec2.jpg" class="d-block w-100" alt="Image 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row align-items-center mt-5">
    <div class="col-md-6">
      <p>Esperamos darte la Bienvenida a Math'S Tec , nuestro Portal Academico enfocado A Ciencias Basicas
        Aquí encontrarás herramientas interactivas, tutorías en línea y recursos educativos que te ayudarán a fortalecer tus conocimientos en Ciencias Básicas, mejorar tu rendimiento académico.
        Nuestro compromiso es apoyarte en cada paso de tu aprendizaje, brindándote un espacio accesible, dinámico y flexible para que desarrolles tus habilidades y superes los retos académicos.</p>
        
        
    </div>

    <div class="col-md-6">
      <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="C.jpg" class="d-block w-100" alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="Cie.png" class="d-block w-100" alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="fondo.jpg" class="d-block w-100" alt="Image 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-12">
      <p>El elevado índice de reprobación en las asignaturas de Ciencias Básicas en el TecNM Campus Ciudad Valles representa un desafío constante para la comunidad estudiantil, lo cual repercute en la deserción escolar. Estas materias, fundamentales para la formación académica, presentan un nivel de dificultad que muchos estudiantes no logran superar debido a la falta de recursos de apoyo accesibles fuera del aula. Esto genera frustración y desmotivación, lo que puede llevar al abandono de los estudios.
        La implementación de un portal académico interactivo responde a esta problemática, ofreciendo a los estudiantes una plataforma flexible y accesible que complementa el aprendizaje en el aula. Este portal proporcionará recursos como cursos interactivos, ejercicios prácticos, tutorías en línea y asesorías personalizadas, diseñados específicamente para abordar las áreas de mayor dificultad en las asignaturas de Ciencias Básicas. Al contar con estos apoyos, se espera que los estudiantes puedan mejorar su comprensión de los contenidos, reforzar sus habilidades y aprobar sus materias, contribuyendo así a disminuir la reprobación y el abandono escolar.
        
        <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel3" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="re1.jpg" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
              <img src="re.jpg" class="d-block w-100" alt="Image 2">
            </div>
            <div class="carousel-item">
              <img src="re2.jpg" class="d-block w-100" alt="Image 3">
            </div>

            <div class="carousel-item">
              <img src="re3.jpg" class="d-block w-100" alt="Image 4">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
    </div>

  </div>
</div>
