<div class="video-container" *ngFor="let video of videos">
  <h2>{{ video.title }}</h2>
  <h2>{{ video.description }}</h2>


  <p>Te Presentamos una Seccion de Videos con los que podras Desarrollar tus habilidades</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/ZSYQ13iMbYA" frameborder="0" allowfullscreen ></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/E3ECQskKyrU" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/aYlICOhaO1g" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/igCXJ6dUjMM" frameborder="0" allowfullscreen></iframe>

</div>